[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
local = "sh -c 'PYTHONPATH=$(pwd)/stage0_py_utils LOGGING_LEVEL=INFO python3 -m server'"
debug = "sh -c 'PYTHONPATH=$(pwd)/stage0_py_utils LOGGING_LEVEL=DEBUG python3 -m server'"
stepci = "stepci run ./tests/stepci.yaml"
build = "sh -c 'python3 -m build'"

[packages]
flask = "*"
pymongo = "*"
discord = "*"
ollama = "*"
prometheus-flask-exporter = "*"

[dev-packages]
setuptools = "*"
build = "*"

[requires]
python_version = "3.12"
