[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
build = "sh -c 'python3 -m build'"

[packages]
flask = "*"
pymongo = "*"
discord = "*"
ollama = "*"
prometheus-flask-exporter = "*"

[dev-packages]
setuptools = "*"
build = "*"

[requires]
python_version = "3.12"
